* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    background: #f4f6f8;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Buttons */
.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.btns button {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}


.btns button:hover {
    background: #007bff;
    color: white;
}
.btns button.active {
    background: #000000;
    color: white;
}

/* Products */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #555;
}

.price {
    font-weight: bold;
    color: #007bff;
}